@import './imports.scss';








.display_none{
    display: none !important;
}

.display_flex{
    display: flex !important;
}


.darkblue_color{
    color: #130f40;
}
.gray_color{
    color: gray;
}
.blue_color{
    color: blue;
}
.red_color{
    color: red;
}
.green_color{
    color: green;
}

p{
    color: black;
}

